# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.eggs/
dist/
build/
sdist/
*.egg-info/
*.egg
*.whl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
__pycache__
*.spec
dist/
build/

# Log files and databases
logs/
logs/
*.log
*.db
*.sqlite
uploads/
uploads/

# OS or Editor files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.idea
.vscode
.pytest_cache
instance/
htmlcov/
.coverage
*.log
*.DS_Store
ssl/
flask_session/
flask_session/2029240f6d1128be89ddc32729463129
