
{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="text-center mb-8">
        <h1 class="text-4xl font-bold mb-4">Edit Profile</h1>
        <p class="text-lg text-gray-600">Update user details for {{ user.username }}</p>
    </div>

    <!-- Role Update Card -->
    <div class="space-y-6 max-w-3xl mx-auto">
        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title mb-4">Role Information</h2>
                <form method="POST" action="{{ url_for('main.edit_own_profile') }}">
                    <div class="grid grid-cols-1 gap-6">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Name</span>
                            </label>
                            <input type="text" name="name" value="{{ user.name }}" class="input input-bordered"  />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Username</span>
                            </label>
                            <input type="text" value="{{ user.username }}" class="input input-bordered" disabled />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Email</span>
                            </label>
                            <input type="email" value="{{ user.email }}" class="input input-bordered" disabled />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Designation</span>
                            </label>
                            <input type="text" name="designation" value="{{ user.designation }}" class="input input-bordered"  />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">LinkedIn Profile</span>
                            </label>
                            <input type="text" name="linkedin_profile" value="{{ user.linkedin_profile }}" class="input input-bordered"  />
                        </div>
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

    
    </div>
</div>
{% endblock %} 



