{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block flash_messages %}{% endblock %}

{% block content %}
{% if request.args.get('registration_success') %}
    <input type="checkbox" id="registration-success-modal" class="modal-toggle" checked hidden />
    <div class="modal modal-open">
    <div class="modal-box">
        <h3 class="font-bold text-lg text-center text-success">Registration Successful!</h3>
        <p class="py-4">
        Thank you for registering with Kanaka ATS. An administrator will review your registration and approve your account.
        <br><br>
        You can try logging in after that.
        </p>
        <div class="modal-action">
        <a href="{{ url_for('auth.login') }}" class="btn btn-success">Got it</a>
        </div>
    </div>
    </div>
{% endif %}


{% if session_timeout %}
<div class="alert alert-warning">
    Your session has expired. Please log in again.
</div>
{% endif %}

<div class="hero min-h-[calc(100vh-4rem)]">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left lg:ml-8">
            <h1 class="text-5xl font-bold">Login now!</h1>
            <p class="py-6">Access your Kanaka Application Tracking System account to manage applicants and streamline your hiring process.</p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="flex flex-col items-center w-full mt-6">
                <a href="{{ url_for('auth.login_microsoft') }}"
                class="mb-4 flex items-center justify-center gap-3 bg-black hover:bg-gray-800 text-white font-semibold py-3 px-14 rounded-md transition-colors duration-200">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg"
                        alt="Microsoft Logo"
                        class="w-5 h-5"/>
                    <span>Log in with Microsoft</span>
                </a>
            </div>
            <form method="POST" action="{{ url_for('auth.login_external') }}" class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category in ['info', 'success'] %}
                                <div class="alert alert-{{ category }} mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    <span>{{ message }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username or Email</span>
                    </label>
                    <label class="input validator">
                        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </g>
                        </svg>
                        <input
                            type="text"
                            name="username_or_email"
                            required
                            placeholder="Enter username or email"
                            pattern="[A-Za-z][A-Za-z0-9_\-]*|^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                            minlength="3"
                            maxlength="50"
                            title="Enter a valid username or email address"
                            value="{{ form_data.username_or_email if form_data else '' }}"
                        />
                    </label>
                    <p class="validator-hint hidden">
                        Username: 3-50 characters, letters, numbers, underscores or dashes
                        <br />Email: valid email format
                    </p>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <label class="input validator relative w-full" >
                        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                                <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"></path>
                                <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                            </g>
                        </svg>
                        <input
                            type="password"
                            name="password"
                            id="myInput"
                            required
                            placeholder="Password"
                        />
                        <button type="button" onclick="togglePassword()" class="absolute right-3 top-1/2 -translate-y-1/2">
                            <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5
                                c4.477 0 8.268 2.943 9.542 7
                                -1.274 4.057-5.065 7-9.542 7
                                -4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </button>
                    </label>
                    
                </div>
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category in ['error'] %}
                            <div class="alert alert-{{ category }} w-[90%] max-w-sm mx-auto mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none" />
                                    <line x1="12" y1="8" x2="12" y2="12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                    <circle cx="12" cy="16" r="1" fill="currentColor" />
                                </svg>
                                <span>{{ message }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>


{% block extra_js %}
<script>
    function togglePassword() {
        const input = document.getElementById("myInput");
        const icon = document.getElementById("eyeIcon");

        if (input.type === "password") {
            input.type = "text";
            icon.innerHTML = `
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7
                      a9.956 9.956 0 012.042-3.362m1.644-1.644
                      A9.953 9.953 0 0112 5c4.477 0 8.268 2.943 9.542 7
                      a9.973 9.973 0 01-4.126 5.317M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 3l18 18" />
            `;
        } else {
            input.type = "password";
            icon.innerHTML = `
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M2.458 12C3.732 7.943 7.523 5 12 5
                      c4.477 0 8.268 2.943 9.542 7
                      -1.274 4.057-5.065 7-9.542 7
                      -4.477 0-8.268-2.943-9.542-7z" />
            `;
        }
    }
</script>


{% endblock %}


{% endblock %}